html,
body,
.app {
  height: 100vh;
  background: #161925;
  padding: 1em;
}

/* SidePanel.js */
.menu {
  padding-bottom: 2em;
}

.large .segment{
  background-color: #161925 !important;
}

.aligned .comments{
color: #8EA8C3;
}

.column .aligned{
  color: #8EA8C3 !important;
}
.ui.segment .ui.comments{
  padding-bottom: 7% !important;
}
.column .ui.segment{
  padding: 0.7em 0.7em 0.7em 0.7em !important;
}
.ui.segment.messages_chatbox{
padding-bottom: 0% !important;
}

.stacked .violet{
  background-color: #406E8E !important;
}
.ui.message{
  background-color: #161925 !important;
  font-size: 1.5em !important;
  color: #ffffff !important;
}

.ui.ora.header {
  color: #ec8744!important;
}
i.ora.icon {
  color: #ec8744 !important;
}
.ui.ora.button, .ui.ora.buttons .button {
  background-color: #e8792f !important;
  color:#ffffff !important;
}
.ora-login {
  color: #ec8744 !important;
}
/* Messages.js */
.messages {
  height: 62vh;
  overflow-y: scroll;
}

/* MessageForm.js */
.message__form {
  position: fixed !important;
  bottom: 0.3em;
  margin-left: 334px !important;
  left: 0;
  right: 1em;
  z-index: 200;
  margin-right: 25% !important;
}

.emoijpicker {
  position: absolute;
}

/* Message.js */
.message__self {
  padding-left: 8px;
}

.ui.comments .comment .avatar {
  margin-top:  0.1em !important;
  margin-right: 1.5% !important;
}

.avatar__self {
  margin-left: 53% !important;
}

.message__self .message__image {
  padding: 1em;
  margin-left: 30%;
  width: 400px;
  margin-right: 1%;
}

.message__self .text{
margin-left: 56% !important;
margin-top: .25em !important;
margin-bottom: .5em !important;
margin-right: 1% !important;
}
/* ProgressBar.js */
.progress__bar {
  margin: 0.3em 0 0 0 !important;
}

/* ColorPanel.js */
.color__container {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  width: 35px;
  border-radius: 3px;
}

.color__square {
  width: 35px;
  height: 35px;
}

.color__overlay {
  width: 85px;
  height: 35px;
  transform: rotate(225deg);
}

/* Typing.js */
.user__typing {
  font-style: italic;
  font-weight: bold;
  margin-right: 3px;
}

.typing {
  width: 5em;
  height: 2em;
  position: relative;
  padding: 10px;
  margin-left: 5px;
  background: #e6e6e6;
  border-radius: 20px;
}

.typing__dot {
  float: left;
  width: 8px;
  height: 8px;
  margin: 0 4px;
  background: #8d8c91;
  border-radius: 50%;
  opacity: 0;
  animation: loadingFade 1s infinite;
}

.typing__dot:nth-child(1) {
  animation-delay: 0s;
}

.typing__dot:nth-child(2) {
  animation-delay: 0.2s;
}

.typing__dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes loadingFade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

/* Skeleton.js */
.skeleton {
  position: relative;
  overflow: hidden;
  height: 40px;
  margin-bottom: 10px;
}

.skeleton::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  animation: sweep 2s infinite;
  background-image: linear-gradient(
    to left,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
}

@keyframes sweep {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.skeleton__avatar {
  height: 35px;
  width: 35px;
  border-radius: 3px;
  background-color: rgba(58, 57, 57, 0.3);
}

.skeleton__author {
  background-color: rgba(58, 57, 57, 0.3);
  width: 120px;
  height: 10px;
  border-radius: 3px;
  position: absolute;
  bottom: 30px;
  left: 40px;
  right: 0;
}

.skeleton__details {
  background-color: rgba(58, 57, 57, 0.3);
  height: 20px;
  border-radius: 3px;
  position: absolute;
  bottom: 5px;
  left: 40px;
  right: 20px;
}
